main{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    

}

section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height:400px;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30vh;
    background-color: darkslategrey;
}